@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.table-header-row-cell {
  min-width: 80px;
  font-weight: '600';
}

.table-row > * {
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  border-right: 1px solid rgba(150, 150, 150, 0.2);
}

.number {
  font-family: 'Space Mono', monospace !important;
  text-align: right !important;
  font-weight: 600 !important;
}

.profit {
  background: #eefae3;
}
.buy {
  background: #e6f4f5;
}
.sell {
  background: #ffede0;
}
