@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.table-header-row-cell {
  min-width: 80px;
  font-weight: '600';
}

.table-row > * {
  border-left: 1px solid rgba(100, 100, 140, 0.2);
  border-right: 1px solid rgba(100, 100, 140, 0.2);
}

.number {
  font-family: 'Space Mono', monospace !important;
  text-align: right !important;
  font-weight: 600 !important;
}

.profit {
  background: rgba(76, 175, 80, 0.12);
}
.buy {
  background: rgba(33, 150, 243, 0.1);
}
.sell {
  background: rgba(255, 152, 0, 0.1);
}
